* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

:root {
  --color-primary-peach: #e7816b;
  --color-primary-black: #1d1c1e;
  --color-primary-white: #ffffff;
  --color-secondary-light-peach: #ffad9b;
  --color-secondary-dark-grey: #333136;
  --color-secondary-light-grey: #f1f3f5; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Jost", sans-serif; }

a {
  text-decoration: none; }

.btn {
  display: inline-block;
  border: none;
  outline: transparent;
  border-radius: 0.8rem;
  text-align: center;
  font-weight: 500;
  padding: 1.75rem 2.45rem;
  color: var(--color-primary-black);
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: var(--color-primary-white);
  transition: 0.3s; }
  .btn:hover {
    color: var(--color-primary-white);
    background-color: var(--color-secondary-light-peach); }

.inactive {
  display: none; }

.navbar {
  position: relative;
  padding: 3.5rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .navbar {
      position: initial;
      padding: 6.4rem 3.9rem; } }
  @media screen and (min-width: 1440px) {
    .navbar {
      margin-left: auto;
      margin-right: auto;
      padding: 6.4rem 0;
      max-width: 1110px; } }

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-peach);
  background-image: url("/assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position: left 43%;
  background-size: 170%; }
  @media screen and (min-width: 768px) {
    .header {
      margin-left: 3.95rem;
      margin-right: 3.95rem;
      border-radius: 1.5rem;
      background-position: center right -125%;
      background-size: 90%; } }
  @media screen and (min-width: 1024px) {
    .header {
      padding: 9.5rem 5rem 0;
      flex-direction: row;
      background-size: 80%; } }
  @media screen and (min-width: 1440px) {
    .header {
      margin-left: auto;
      margin-right: auto;
      padding: 14.5rem 9.6rem 0rem;
      align-items: flex-start;
      background-position: top right;
      background-size: 57%;
      max-width: 1110px; } }

.main {
  padding: 12rem 2.4rem; }
  @media screen and (min-width: 768px) {
    .main {
      padding: 12rem 3.9rem; } }
  @media screen and (min-width: 1024px) {
    .main__features {
      display: grid;
      grid-column-gap: 3rem;
      grid-row-gap: 2.4rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr 1fr;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (min-width: 1440px) {
    .main__features {
      max-width: 1110px; } }

.logo {
  height: 2.7rem; }

.navbar__navigation {
  position: absolute;
  top: 100%;
  left: -4.8rem;
  width: 0%;
  padding: 4.8rem 2.4rem;
  min-height: 23.5rem;
  z-index: 5;
  background-color: var(--color-primary-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s; }
  @media screen and (min-width: 768px) {
    .navbar__navigation {
      position: initial;
      width: initial;
      padding: initial;
      min-height: initial;
      z-index: initial;
      flex-direction: row;
      transition: initial;
      background-color: initial;
      min-width: 37rem; } }
  .navbar__navigation--open {
    left: 0;
    width: 100%; }
  .navbar__navigation::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); }
    @media screen and (min-width: 768px) {
      .navbar__navigation::after {
        display: none; } }
  .navbar__navigation .navigation-links {
    font-size: 2.4rem;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
    color: var(--color-primary-white);
    text-transform: uppercase;
    transition: 0.2s;
    white-space: nowrap;
    overflow: hidden; }
    @media screen and (min-width: 768px) {
      .navbar__navigation .navigation-links {
        font-size: 1.4rem;
        line-height: 1.4rem;
        letter-spacing: 0.2rem;
        white-space: initial;
        color: var(--color-primary-black); } }
    .navbar__navigation .navigation-links:hover {
      color: var(--color-primary-peach); }

@media screen and (min-width: 768px) {
  .navbar__menu {
    display: none; } }
.navbar__menu .menu {
  cursor: pointer; }
.navbar__menu .close {
  cursor: pointer; }

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 31.2rem;
  padding: 8rem 2rem 0;
  margin-bottom: 8rem; }
  @media screen and (min-width: 1024px) {
    .header__content {
      padding: initial;
      margin-bottom: initial; } }
  @media screen and (min-width: 1440px) {
    .header__content {
      align-items: flex-start; } }
  .header__content .content-heading {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.6rem;
    text-align: center;
    color: var(--color-primary-white);
    margin-bottom: 2.4rem; }
    @media screen and (min-width: 768px) {
      .header__content .content-heading {
        font-size: 4.8rem;
        line-height: 4.8rem;
        width: 57.3rem; } }
    @media screen and (min-width: 1440px) {
      .header__content .content-heading {
        text-align: left;
        width: 54rem; } }
  .header__content .content-paragraph {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: var(--color-primary-white);
    margin-bottom: 2.4rem; }
    @media screen and (min-width: 768px) {
      .header__content .content-paragraph {
        font-size: 1.6rem;
        line-height: 2.6rem;
        width: 44.5rem; } }
    @media screen and (min-width: 1440px) {
      .header__content .content-paragraph {
        text-align: left;
        margin-bottom: 4rem; } }

.header__graphic {
  background-image: url("/assets/home/desktop/hero-phone-image.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 37rem;
  width: 80%;
  filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.497569)); }
  @media screen and (min-width: 768px) {
    .header__graphic {
      width: 40%; } }
  @media screen and (min-width: 1024px) {
    .header__graphic {
      min-height: 42rem;
      width: 30%; } }
  @media screen and (min-width: 1440px) {
    .header__graphic {
      min-height: 48.5rem; } }

.features {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 25rem;
  border-radius: 1.5rem;
  background-color: #000;
  margin-bottom: 2.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .features:last-child {
    margin-bottom: 0; }
  @media screen and (min-width: 1024px) {
    .features {
      margin-bottom: initial; } }
  @media screen and (min-width: 1440px) {
    .features {
      margin-bottom: initial;
      width: 54.1rem; } }
  .features-title {
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 3.6rem;
    text-align: center;
    letter-spacing: 0.14rem;
    color: var(--color-primary-white);
    text-transform: uppercase;
    margin-bottom: 1.2rem; }
    @media screen and (min-width: 768px) {
      .features-title {
        font-size: 4rem;
        line-height: 4.8rem;
        letter-spacing: 0.2rem;
        margin-bottom: 2.4rem; } }
  .features-projects {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: var(--color-primary-white);
    text-align: center; }
    .features-projects span {
      margin-left: 0.5rem;
      transition: 0.3s; }
  .features:hover .features__text-wrapper .features-projects span {
    margin-left: 1rem; }

.features-web {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/home/mobile/image-web-design.jpg"); }
  @media screen and (min-width: 768px) {
    .features-web {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/home/tablet/image-web-design.jpg"); } }
  @media screen and (min-width: 1024px) {
    .features-web {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/home/desktop/image-web-design-large.jpg"); } }
  @media screen and (min-width: 1024px) {
    .features-web {
      grid-column: 1 / 2;
      grid-row: 1 / 3; } }
  .features-web:hover {
    background-image: linear-gradient(rgba(231, 129, 107, 0.7), rgba(231, 129, 107, 0.7)), url("/assets/home/mobile/image-web-design.jpg"); }
    @media screen and (min-width: 768px) {
      .features-web:hover {
        background-image: linear-gradient(rgba(231, 129, 107, 0.7), rgba(231, 129, 107, 0.7)), url("/assets/home/tablet/image-web-design.jpg"); } }
    @media screen and (min-width: 1024px) {
      .features-web:hover {
        background-image: linear-gradient(rgba(231, 129, 107, 0.7), rgba(231, 129, 107, 0.7)), url("/assets/home/desktop/image-web-design-large.jpg"); } }

.features-app {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/home/mobile/image-app-design.jpg"); }
  @media screen and (min-width: 768px) {
    .features-app {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/home/tablet/image-app-design.jpg"); } }
  @media screen and (min-width: 1024px) {
    .features-app {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/home/desktop/image-app-design.jpg"); } }
  .features-app:hover {
    background-image: linear-gradient(rgba(231, 129, 107, 0.7), rgba(231, 129, 107, 0.7)), url("/assets/home/mobile/image-app-design.jpg"); }
    @media screen and (min-width: 768px) {
      .features-app:hover {
        background-image: linear-gradient(rgba(231, 129, 107, 0.7), rgba(231, 129, 107, 0.7)), url("/assets/home/tablet/image-app-design.jpg"); } }
    @media screen and (min-width: 1024px) {
      .features-app:hover {
        background-image: linear-gradient(rgba(231, 129, 107, 0.7), rgba(231, 129, 107, 0.7)), url("/assets/home/desktop/image-app-design.jpg"); } }

.features-graphic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/home/mobile/image-graphic-design.jpg"); }
  @media screen and (min-width: 768px) {
    .features-graphic {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/home/tablet/image-graphic-design.jpg"); } }
  @media screen and (min-width: 1024px) {
    .features-graphic {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/home/desktop/image-graphic-design.jpg"); } }
  .features-graphic:hover {
    background-image: linear-gradient(rgba(231, 129, 107, 0.7), rgba(231, 129, 107, 0.7)), url("/assets/home/mobile/image-graphic-design.jpg"); }
    @media screen and (min-width: 768px) {
      .features-graphic:hover {
        background-image: linear-gradient(rgba(231, 129, 107, 0.7), rgba(231, 129, 107, 0.7)), url("/assets/home/tablet/image-graphic-design.jpg"); } }
    @media screen and (min-width: 1024px) {
      .features-graphic:hover {
        background-image: linear-gradient(rgba(231, 129, 107, 0.7), rgba(231, 129, 107, 0.7)), url("/assets/home/desktop/image-graphic-design.jpg"); } }

/*# sourceMappingURL=main.css.map */
