* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-primary-peach: #e7816b;
  --color-primary-black: #1d1c1e;
  --color-primary-white: #ffffff;

  --color-secondary-light-peach: #ffad9b;
  --color-secondary-lightest-peach: #fdf3f0;
  --color-secondary-dark-grey: #333136;
  --color-secondary-light-grey: #f1f3f5;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  border: none;
  outline: transparent;
  border-radius: 0.8rem;
  text-align: center;
  font-weight: 500;
  padding: 1.75rem 2.45rem;
  color: var(--color-primary-black);
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: var(--color-primary-white);
  transition: 0.3s;

  &:hover {
    color: var(--color-primary-white);
    background-color: var(--color-secondary-light-peach);
  }
}

.inactive {
  display: none;
}

.navbar {
  position: relative;
  padding: 3.5rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    position: initial;
    padding: 6.4rem 3.9rem;
  }

  @media screen and (min-width: 1440px) {
    margin-left: auto;
    margin-right: auto;
    padding: 6.4rem 0;
    max-width: 1110px;
  }

  .logo {
    height: 2.7rem;
  }

  &__navigation {
    position: absolute;
    top: 100%;
    left: -4.8rem;
    width: 0%;
    padding: 4.8rem 2.4rem;
    min-height: 23.5rem;
    z-index: 5;
    background-color: var(--color-primary-black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s;

    @media screen and (min-width: 768px) {
      position: initial;
      width: initial;
      padding: initial;
      min-height: initial;
      z-index: initial;
      flex-direction: row;
      transition: initial;
      background-color: initial;
      min-width: 37rem;
    }

    &--open {
      left: 0;
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0%;
      height: 100vh;
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    .navigation-links {
      font-size: 2.4rem;
      line-height: 2.5rem;
      letter-spacing: 0.2rem;
      color: var(--color-primary-white);
      text-transform: uppercase;
      transition: 0.2s;
      white-space: nowrap;
      overflow: hidden;

      @media screen and (min-width: 768px) {
        font-size: 1.4rem;
        line-height: 1.4rem;
        letter-spacing: 0.2rem;
        white-space: initial;
        color: var(--color-primary-black);
      }

      &:hover {
        color: var(--color-primary-peach);
      }
    }
  }

  &__menu {
    @media screen and (min-width: 768px) {
      display: none;
    }

    .menu {
      cursor: pointer;
    }

    .close {
      cursor: pointer;
    }
  }
}

.footer {
  padding: 25.3rem 2.4rem 6.4rem;
  background-color: var(--color-primary-black);
  position: relative;

  @media screen and (min-width: 768px) {
    padding: 16.6rem 3.9rem 6.4rem;
  }

  &__cta {
    position: absolute;
    bottom: 77%;
    left: 2.4rem;
    right: 2.4rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-primary-peach);
    background-image: url("/assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg");
    background-size: 240%;
    background-position: 100%;
    padding: 6.4rem 2.4rem;
    border-radius: 1.5rem;

    @media screen and (min-width: 768px) {
      left: 3.9rem;
      right: 3.9rem;
      background-image: url("/assets/shared/tablet/bg-pattern-design-pages-intro-tablet.svg");
      background-size: 120%;
      background-position: 200%;
      padding: 5.7rem;
    }

    @media screen and (min-width: 1440px) {
      padding: 7.2rem 9.6rem;
      max-width: 1110px;
      max-height: 29.2rem;
      background-size: 85%;
      background-position: 100%;
    }

    .cta-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 1440px) {
        flex-direction: row;
        justify-content: space-between;
      }

      .info-heading {
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 3.6rem;
        text-align: center;
        color: var(--color-primary-white);
        margin-bottom: 1.5rem;

        @media screen and (min-width: 768px) {
          font-size: 4rem;
          line-height: 4rem;
          max-width: 33.5rem;
          margin: 1.5rem auto;
        }

        @media screen and (min-width: 1440px) {
          text-align: left;
          margin: 1.5rem 0;
        }
      }

      .info-text {
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-align: center;
        color: var(--color-primary-white);
        margin-bottom: 3.2rem;

        @media screen and (min-width: 768px) {
          font-size: 1.6rem;
          line-height: 2.6rem;
          max-width: 45.5rem;
        }

        @media screen and (min-width: 1440px) {
          text-align: left;
        }
      }
    }
  }

  &__company {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media screen and (min-width: 1440px) {
      margin-left: auto;
      margin-right: auto;
      max-width: 1110px;
    }

    .brand {
      height: 2.7rem;
      margin-bottom: 3.2rem;

      @media screen and (min-width: 768px) {
        order: 1;
      }
    }

    .rule {
      height: 0.1rem;
      opacity: 0.1;
      margin-bottom: 3.2rem;
      width: 100%;

      @media screen and (min-width: 768px) {
        order: 3;
      }
    }

    .company__links {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 4rem;

      @media screen and (min-width: 768px) {
        order: 2;
        flex-direction: row;
        align-items: initial;
        justify-content: space-between;
        min-width: 37rem;
      }

      .links-item {
        font-size: 1.4rem;
        line-height: 1.4rem;
        letter-spacing: 0.2rem;
        color: var(--color-primary-white);
        margin-bottom: 3.2rem;
        text-transform: uppercase;
        transition: 0.3s;

        @media screen and (min-width: 768px) {
          margin-bottom: initial;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          color: var(--color-primary-peach);
        }
      }
    }
  }

  &__office {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media screen and (min-width: 1440px) {
      margin-left: auto;
      margin-right: auto;
      align-items: flex-end;
      max-width: 1110px;
    }

    .office-central {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 4rem;

      @media screen and (min-width: 768px) {
        align-items: flex-start;
      }

      @media screen and (min-width: 1440px) {
        margin-bottom: 0;
      }

      .central-heading {
        font-size: 1.6rem;
        line-height: 2.6rem;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.1rem;
        color: var(--color-primary-white);
        opacity: 0.5;
      }

      .central-address,
      .central-city {
        font-size: 1.6rem;
        line-height: 2.6rem;
        text-align: center;
        color: var(--color-primary-white);
        opacity: 0.5;

        // @media screen and (min-width: 768px) {
        //   text-align: left;
        // }
      }
    }

    .office-contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 4rem;

      @media screen and (min-width: 768px) {
        align-items: flex-start;
      }

      @media screen and (min-width: 1440px) {
        margin-bottom: 0;
      }

      .central-heading {
        font-size: 1.6rem;
        line-height: 2.6rem;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.1rem;
        color: var(--color-primary-white);
        opacity: 0.5;
      }

      .central-phone,
      .central-mail {
        font-size: 1.6rem;
        line-height: 2.6rem;
        text-align: center;
        color: var(--color-primary-white);
        opacity: 0.5;
      }
    }
  }

  .office-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18.4rem;

    .socials svg path {
      transition: 0.2s;
    }

    .socials:hover svg path {
      fill: var(--color-secondary-light-peach);
    }
  }
}

@mixin switchBackground($bgImage) {
  background-image: url($bgImage);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  min-height: 32rem;
}
