* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-primary-peach: #e7816b;
  --color-primary-black: #1d1c1e;
  --color-primary-white: #ffffff;

  --color-secondary-light-peach: #ffad9b;
  --color-secondary-lightest-peach: #fdf3f0;
  --color-secondary-dark-grey: #333136;
  --color-secondary-light-grey: #f1f3f5;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  border: none;
  outline: transparent;
  border-radius: 0.8rem;
  text-align: center;
  font-weight: 500;
  padding: 1.75rem 2.45rem;
  color: var(--color-primary-black);
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: var(--color-primary-white);
  transition: 0.3s;

  &:hover {
    color: var(--color-primary-white);
    background-color: var(--color-secondary-light-peach);
  }
}

.inactive {
  display: none;
}

@mixin switchBackground($bgImage) {
  background-image: url($bgImage);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  min-height: 32rem;
}
