.map-group-box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 32rem;

  @media screen and (min-width: 768px) {
    border-radius: 1.5rem;
    margin-bottom: 3.1rem;
  }

  @media screen and (min-width: 1024px) {
    width: 32%;
    border-radius: 1.5rem;
    margin-bottom: initial;
  }
}

.map-canada {
  @media screen and (min-width: 150px) {
    background-image: url("/assets/locations/tablet/image-map-canada.png");
  }

  @media screen and (min-width: 1024px) {
    background-image: url("/assets/locations/desktop/image-map-canada.png");
    order: 2;
  }
}

.map-australia {
  @media screen and (min-width: 150px) {
    background-image: url("/assets/locations/tablet/image-map-australia.png");
  }

  @media screen and (min-width: 1024px) {
    background-image: url("/assets/locations/desktop/image-map-australia.png");
  }
}

.map-uk {
  @media screen and (min-width: 150px) {
    background-image: url("/assets/locations/tablet/image-map-uk.png");
  }

  @media screen and (min-width: 1024px) {
    background-image: url("/assets/locations/desktop/image-map-united-kingdom.png");
    order: 2;
  }
}

.map-group-content {
  padding: 8rem 2.4rem;
  background-color: var(--color-secondary-lightest-peach);
  background-image: url("/assets/shared/desktop/bg-pattern-three-circles.svg");
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    padding: 8.8rem 7.5rem;
    border-radius: 1.5rem;
    background-position: 0% 100%;
    margin-bottom: 12rem;
  }

  @media screen and (min-width: 1024px) {
    width: 66%;
    border-radius: 1.5rem;
    margin-bottom: initial;
  }

  .group-content-heading {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.6rem;
    text-align: center;
    color: var(--color-primary-peach);
    margin-bottom: 2.4rem;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  .group-content-text-box {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 60rem;
    }

    @media screen and (min-width: 1024px) {
      max-width: 55rem;
    }

    .text-box-office {
      margin-bottom: 2.4rem;
      .box-office-heading {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-align: center;
        color: var(--color-primary-black);

        @media screen and (min-width: 768px) {
          text-align: left;
        }
      }

      .box-office-paragraph {
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: var(--color-primary-black);

        @media screen and (min-width: 768px) {
          text-align: left;
        }
      }
    }

    .text-box-contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (min-width: 768px) {
        align-items: flex-start;
        margin-right: 8rem;
      }

      .box-contact-heading {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-align: center;
        color: var(--color-primary-black);

        @media screen and (min-width: 768px) {
          text-align: left;
        }
      }

      .box-contact-phone,
      .box-contact-mail {
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-align: center;
        color: var(--color-primary-black);
      }
    }
  }
}
