.about-header__graphic {
  background-image: url("/assets/about/mobile/image-about-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 32rem;

  @media screen and (min-width: 768px) {
    background-image: url("/assets/about/tablet/image-about-hero.jpg");
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
  }

  @media screen and (min-width: 1024px) {
    background-image: url("/assets/about/desktop/image-about-hero.jpg");
    order: 2;
    width: 53%;
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: initial;
  }
}

.about-header__content {
  padding: 8rem 2.45rem;
  background-color: var(--color-primary-peach);
  background-image: url("/assets/about/mobile/bg-pattern-hero-about-mobile.svg");
  background-repeat: no-repeat;
  background-size: 250%;
  background-position: 98% 26%;

  @media screen and (min-width: 768px) {
    padding: 6.4rem 5.8rem;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    background-position: 117% 24%;
  }

  @media screen and (min-width: 1024px) {
    padding: 13.5rem 9.5rem;
    border-bottom-right-radius: initial;
    border-top-left-radius: 1.5rem;
    max-width: 60%;
    background-size: 290%;
    background-position: 100% 10%;
  }

  .about-content-heading {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.6rem;
    text-align: center;
    color: var(--color-primary-white);
    margin-bottom: 2.4rem;

    @media screen and (min-width: 768px) {
      font-size: 4.8rem;
      line-height: 4.8rem;
      margin-bottom: 3.2rem;
    }

    @media screen and (min-width: 1024px) {
      text-align: left;
    }
  }

  .about-content-paragraph {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: var(--color-primary-white);

    @media screen and (min-width: 1024px) {
      text-align: left;
    }
  }
}
