.web-design__card {
  margin-bottom: 4rem;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: column;
    margin-bottom: initial;
  }

  &:last-child {
    margin-bottom: 9.6rem;
  }

  .web-design__express {
    @include switchBackground(
      $bgImage: "/assets/web-design/desktop/image-express.jpg"
    );
  }

  .web-design__transfer {
    @include switchBackground(
      $bgImage: "/assets/web-design/desktop/image-transfer.jpg"
    );
  }

  .web-design__photon {
    @include switchBackground(
      $bgImage: "/assets/web-design/desktop/image-photon.jpg"
    );
  }

  .web-design__builder {
    @include switchBackground(
      $bgImage: "/assets/web-design/desktop/image-builder.jpg"
    );
  }

  .web-design__blogr {
    @include switchBackground(
      $bgImage: "/assets/web-design/desktop/image-blogr.jpg"
    );
  }

  .web-design__camp {
    @include switchBackground(
      $bgImage: "/assets/web-design/desktop/image-camp.jpg"
    );
  }

  .web-design__express,
  .web-design__transfer,
  .web-design__photon,
  .web-design__builder,
  .web-design__blogr,
  .web-design__camp {
    @media screen and (min-width: 768px) {
      min-width: 50%;
      border-top-right-radius: initial;
      border-bottom-left-radius: 1.5rem;
    }

    @media screen and (min-width: 1440px) {
      border-top-right-radius: 1.5rem;
      border-bottom-left-radius: initial;
    }
  }

  .web-design__info {
    background-color: var(--color-secondary-lightest-peach);
    padding: 3.2rem 2.9rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;

    &:hover {
      background-color: var(--color-primary-peach);
    }

    &:hover > * {
      color: var(--color-primary-white);
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 50%;
      border-bottom-left-radius: initial;
      border-bottom-right-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
    }

    @media screen and (min-width: 1440px) {
      display: initial;
      border-bottom-left-radius: 1.5rem;
      border-top-right-radius: initial;
      max-height: 15.8rem;
    }

    &-heading {
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.6rem;
      text-align: center;
      letter-spacing: 0.5rem;
      color: var(--color-primary-peach);
      margin-bottom: 1.6rem;
      text-transform: uppercase;
    }

    &-paragraph {
      font-size: 1.6rem;
      line-height: 2.6rem;
      text-align: center;
      color: var(--color-secondary-dark-grey);
    }
  }
}

.web-features {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 25rem;
  border-radius: 1.5rem;
  background-color: #000;
  margin-bottom: 2.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1440px) {
    min-width: 48.6%;
    margin-bottom: initial;
  }

  &-title {
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 3.6rem;
    text-align: center;
    letter-spacing: 0.14rem;
    color: var(--color-primary-white);
    text-transform: uppercase;
    margin-bottom: 1.2rem;

    @media screen and (min-width: 768px) {
      font-size: 4rem;
      line-height: 4.8rem;
      letter-spacing: 0.2rem;
      margin-bottom: 2.4rem;
    }
  }

  &-projects {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: var(--color-primary-white);
    text-align: center;

    & span {
      margin-left: 0.5rem;
      transition: 0.3s;
    }
  }

  &:hover &__text-wrapper &-projects span {
    margin-left: 1rem;
  }
}

.web-features-app {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/home/mobile/image-app-design.jpg");

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/assets/home/tablet/image-app-design.jpg");
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/assets/home/desktop/image-app-design.jpg");
  }

  &:hover {
    background-image: linear-gradient(
        rgba(231, 129, 107, 0.7),
        rgba(231, 129, 107, 0.7)
      ),
      url("/assets/home/mobile/image-app-design.jpg");

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          rgba(231, 129, 107, 0.7),
          rgba(231, 129, 107, 0.7)
        ),
        url("/assets/home/tablet/image-app-design.jpg");
    }

    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(
          rgba(231, 129, 107, 0.7),
          rgba(231, 129, 107, 0.7)
        ),
        url("/assets/home/desktop/image-app-design.jpg");
    }
  }
}

.web-features-graphic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/home/mobile/image-graphic-design.jpg");

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/assets/home/tablet/image-graphic-design.jpg");
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/assets/home/desktop/image-graphic-design.jpg");
  }

  &:hover {
    background-image: linear-gradient(
        rgba(231, 129, 107, 0.7),
        rgba(231, 129, 107, 0.7)
      ),
      url("/assets/home/mobile/image-graphic-design.jpg");

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          rgba(231, 129, 107, 0.7),
          rgba(231, 129, 107, 0.7)
        ),
        url("/assets/home/tablet/image-graphic-design.jpg");
    }

    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(
          rgba(231, 129, 107, 0.7),
          rgba(231, 129, 107, 0.7)
        ),
        url("/assets/home/desktop/image-graphic-design.jpg");
    }
  }
}
