.features {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 25rem;
  border-radius: 1.5rem;
  background-color: #000;
  margin-bottom: 2.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: initial;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: initial;
    width: 54.1rem;
  }

  &-title {
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 3.6rem;
    text-align: center;
    letter-spacing: 0.14rem;
    color: var(--color-primary-white);
    text-transform: uppercase;
    margin-bottom: 1.2rem;

    @media screen and (min-width: 768px) {
      font-size: 4rem;
      line-height: 4.8rem;
      letter-spacing: 0.2rem;
      margin-bottom: 2.4rem;
    }
  }

  &-projects {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: var(--color-primary-white);
    text-align: center;

    & span {
      margin-left: 0.5rem;
      transition: 0.3s;
    }
  }

  &:hover &__text-wrapper &-projects span {
    margin-left: 1rem;
  }
}

.features-web {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/home/mobile/image-web-design.jpg");

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/assets/home/tablet/image-web-design.jpg");
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/assets/home/desktop/image-web-design-large.jpg");
  }

  &:hover {
    background-image: linear-gradient(
        rgba(231, 129, 107, 0.7),
        rgba(231, 129, 107, 0.7)
      ),
      url("/assets/home/mobile/image-web-design.jpg");

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          rgba(231, 129, 107, 0.7),
          rgba(231, 129, 107, 0.7)
        ),
        url("/assets/home/tablet/image-web-design.jpg");
    }

    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(
          rgba(231, 129, 107, 0.7),
          rgba(231, 129, 107, 0.7)
        ),
        url("/assets/home/desktop/image-web-design-large.jpg");
    }
  }
}

.features-app {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/home/mobile/image-app-design.jpg");

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/assets/home/tablet/image-app-design.jpg");
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/assets/home/desktop/image-app-design.jpg");
  }

  &:hover {
    background-image: linear-gradient(
        rgba(231, 129, 107, 0.7),
        rgba(231, 129, 107, 0.7)
      ),
      url("/assets/home/mobile/image-app-design.jpg");

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          rgba(231, 129, 107, 0.7),
          rgba(231, 129, 107, 0.7)
        ),
        url("/assets/home/tablet/image-app-design.jpg");
    }

    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(
          rgba(231, 129, 107, 0.7),
          rgba(231, 129, 107, 0.7)
        ),
        url("/assets/home/desktop/image-app-design.jpg");
    }
  }
}

.features-graphic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/home/mobile/image-graphic-design.jpg");

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/assets/home/tablet/image-graphic-design.jpg");
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/assets/home/desktop/image-graphic-design.jpg");
  }

  &:hover {
    background-image: linear-gradient(
        rgba(231, 129, 107, 0.7),
        rgba(231, 129, 107, 0.7)
      ),
      url("/assets/home/mobile/image-graphic-design.jpg");

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          rgba(231, 129, 107, 0.7),
          rgba(231, 129, 107, 0.7)
        ),
        url("/assets/home/tablet/image-graphic-design.jpg");
    }

    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(
          rgba(231, 129, 107, 0.7),
          rgba(231, 129, 107, 0.7)
        ),
        url("/assets/home/desktop/image-graphic-design.jpg");
    }
  }
}
