.footer__company {
  display: flex;
  flex-direction: column;
  align-items: center;

  .brand {
    height: 2.7rem;
    margin-bottom: 3.2rem;
  }

  .rule {
    height: 0.1rem;
    opacity: 0.1;
    margin-bottom: 3.2rem;
    width: 100%;
  }

  .company__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;

    .links-item {
      font-size: 1.4rem;
      line-height: 1.4rem;
      letter-spacing: 0.2rem;
      color: var(--color-primary-white);
      margin-bottom: 3.2rem;
      text-transform: uppercase;
      transition: 0.3s;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        color: var(--color-primary-peach);
      }
    }
  }
}

.footer__office {
  display: flex;
  flex-direction: column;
  align-items: center;

  .office-central {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;

    .central-heading {
      font-size: 1.6rem;
      line-height: 2.6rem;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.1rem;
      color: var(--color-primary-white);
      opacity: 0.5;
    }

    .central-address,
    .central-city {
      font-size: 1.6rem;
      line-height: 2.6rem;
      text-align: center;
      color: var(--color-primary-white);
      opacity: 0.5;
    }
  }

  .office-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;

    .central-heading {
      font-size: 1.6rem;
      line-height: 2.6rem;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.1rem;
      color: var(--color-primary-white);
      opacity: 0.5;
    }

    .central-phone,
    .central-mail {
      font-size: 1.6rem;
      line-height: 2.6rem;
      text-align: center;
      color: var(--color-primary-white);
      opacity: 0.5;
    }
  }
}

.office-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18.4rem;

  .socials svg path {
    transition: 0.2s;
  }

  .socials:hover svg path {
    fill: var(--color-secondary-light-peach);
  }
}
