.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 31.2rem;
  padding: 8rem 2rem 0;
  margin-bottom: 8rem;

  @media screen and (min-width: 1024px) {
    padding: initial;
    margin-bottom: initial;
  }

  @media screen and (min-width: 1440px) {
    align-items: flex-start;
  }

  .content-heading {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.6rem;
    text-align: center;
    color: var(--color-primary-white);
    margin-bottom: 2.4rem;

    @media screen and (min-width: 768px) {
      font-size: 4.8rem;
      line-height: 4.8rem;
      width: 57.3rem;
    }

    @media screen and (min-width: 1440px) {
      text-align: left;
      width: 54rem;
    }
  }

  .content-paragraph {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: var(--color-primary-white);
    margin-bottom: 2.4rem;

    @media screen and (min-width: 768px) {
      font-size: 1.6rem;
      line-height: 2.6rem;
      width: 44.5rem;
    }

    @media screen and (min-width: 1440px) {
      text-align: left;
      margin-bottom: 4rem;
    }
  }
}

.header__graphic {
  background-image: url("/assets/home/desktop/hero-phone-image.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 37rem;
  width: 80%;
  filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.497569));

  @media screen and (min-width: 768px) {
    width: 40%;
  }

  @media screen and (min-width: 1024px) {
    min-height: 42rem;
    width: 30%;
  }

  @media screen and (min-width: 1440px) {
    min-height: 48.5rem;
  }
}
