.location-main {
  padding-bottom: 31rem;

  @media screen and (min-width: 768px) {
    padding: 0 3.9rem 38.4rem;
  }

  .map__group {
    margin-bottom: 4rem;

    @media screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
    }

    @media screen and (min-width: 1440px) {
      margin-left: auto;
      margin-right: auto;
      max-width: 1110px;
    }

    .leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
      z-index: -1;
    }
  }
}
