.contact-box {
  .contact-heading {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.6rem;
    text-align: center;
    color: var(--color-primary-white);
    margin-bottom: 2.4rem;
  }

  .contact-paragraph {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: var(--color-primary-white);
    margin-bottom: 4.8rem;
  }
}
