<nav class="navbar">
  <a href="/" class="navbar__logo">
    <img src="/assets/shared/desktop/logo-dark.png" alt="logo" class="logo" />
  </a>

  <!-- Navigation -->
  <div class="navbar__navigation">
    <a href="#" class="navigation-links">Our Company</a>
    <a href="#" class="navigation-links">Locations</a>
    <a href="#" class="navigation-links">Contact</a>
  </div>

  <!-- Menu -->
  <div class="navbar__menu">
    <img
      src="/assets/shared/mobile/icon-hamburger.svg"
      alt="menu"
      class="menu"
    />
    <img
      src="/assets/shared/mobile/icon-close.svg"
      alt="menu"
      class="close inactive"
    />
  </div>
</nav>
