.navbar {
  position: relative;
  padding: 3.5rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    position: initial;
    padding: 6.4rem 3.9rem;
  }

  @media screen and (min-width: 1440px) {
    margin-left: auto;
    margin-right: auto;
    padding: 6.4rem 0;
    max-width: 1110px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-peach);
  background-image: url("/assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position: left 43%;
  background-size: 170%;

  @media screen and (min-width: 768px) {
    margin-left: 3.95rem;
    margin-right: 3.95rem;
    border-radius: 1.5rem;
    background-position: center right -125%;
    background-size: 90%;
  }

  @media screen and (min-width: 1024px) {
    padding: 9.5rem 5rem 0;
    flex-direction: row;
    background-size: 80%;
  }

  @media screen and (min-width: 1440px) {
    margin-left: auto;
    margin-right: auto;
    padding: 14.5rem 9.6rem 0rem;
    align-items: flex-start;
    background-position: top right;
    background-size: 57%;
    max-width: 1110px;
  }
}

.main {
  padding: 12rem 2.4rem;

  // &__features {
  // }
}
