.web-header {
  padding: 10.5rem 2.4rem;
  background-color: var(--color-primary-peach);
  background-image: url("/assets/web-design/desktop/bg-pattern-intro-web.svg");
  background-size: 250%;
  background-position: right top;
}

.web-main {
  padding: 9.6rem 2.4rem;
}
