.header-contact {
  padding: 7.2rem 2.4rem;
  background-color: var(--color-primary-peach);
  background-image: url("/assets/contact/mobile/bg-pattern-hero-contact-mobile.svg");
  background-repeat: no-repeat;
  background-position: 20% 0%;
}
