.header-contact {
  padding: 7.2rem 2.4rem;
  background-color: var(--color-primary-peach);
  background-image: url("/assets/contact/mobile/bg-pattern-hero-contact-mobile.svg");
  background-repeat: no-repeat;
  background-position: 20% 0%;
  min-width: 275px;

  @media screen and (min-width: 768px) {
    padding: 7.2rem 5.8rem;
    background-image: url("/assets/contact/desktop/bg-pattern-hero-desktop.svg");
    background-position: -350% -19%;
    margin-left: 3.9rem;
    margin-right: 3.9rem;
    border-radius: 1.5rem;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-position: left bottom;
  }

  @media screen and (min-width: 1440px) {
    padding: 5.5rem 9.6rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
  }
}
