.about-header,
.about-talent {
  @media screen and (min-width: 768px) {
    margin-left: 3.9rem;
    margin-right: 3.9rem;
    margin-bottom: 12rem;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
  }

  @media screen and (min-width: 1440px) {
    margin-left: auto;
    margin-right: auto;
    height: 64rem;
    max-width: 1110px;
  }
}

.countries {
  padding: 12rem 1.3rem;
}

.leaf-talent {
  position: absolute;
  top: 39%;
  left: 0%;
  z-index: -1;
  width: 70%;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}
