.about-header,
.about-talent,
.about-deal {
  @media screen and (min-width: 768px) {
    margin-left: 3.9rem;
    margin-right: 3.9rem;
    margin-bottom: 12rem;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
  }

  @media screen and (min-width: 1440px) {
    margin-left: auto;
    margin-right: auto;
    height: 64rem;
    max-width: 1110px;
  }
}

.about-deal {
  @media screen and (min-width: 1024px) {
    margin-bottom: 38rem;
  }
}

.countries {
  padding: 12rem 1.3rem;
}

.leaf-about {
  position: absolute;
  top: 12%;
  left: 0%;
  z-index: -1;
  width: 70%;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.leaf-about-middle {
  position: absolute;
  top: 52.55%;
  right: -25%;
  z-index: -1;
  width: 70%;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}
